body {
    margin: 0;    
}
    
a {
    text-decoration: none;
}
    

@media screen and (min-width:768px) {

    /* Header */
    
    header {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 1170px;
        height: 80px;
        align-items: center;
    }
    
    .one {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        color: #2196F3;
        letter-spacing: 0.03em;
    }
    
    .three {
        font-weight: 400;
        font-size: 26px;
        color: black;
    }
    
    nav {
        width: 290px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 93px;
    }
    
    nav a {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        color: #212121;
        text-align: center;
        letter-spacing: 0.02em;
    }

    .navtext:hover {
        color: #2196F3;
    }

    .email, .tel {
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        color: #757575;
    }

    .email {
        margin-left: 309px; 
    }
    
    .tel {
        margin-left: 34px;
    }

    .icon-email, .icon-smartphone {
        display: none;
    }

    .email:hover, .tel:hover {
        color: #2196F3;
    }

    .icon-hover {
        display: none;
    }

    .underline {
        width: 100vw;
        height: 1px;
        background-color: #ECECEC;
    }

/* portfolio */
    

    .portfolio {
        width: 1170px;
        height: 1360px;
        margin: 94px auto 94px auto; 
    }

    .buttons {
        margin-left: auto;
        margin-right: auto;
        width: 611px;
        height: 54px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .buttonp { 
        background: #F5F4FA;
        border-radius: 4px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        color: #212121;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
    }

    .buttonp1 {
        width: 73px;
    }
    
    .buttonp2 {
        width: 128px;
    }
    
    .buttonp3 {
        width: 145px;
    }
    
    .buttonp4 {
        width: 103px;
    }
    
    .buttonp5 {
        width: 130px;
    }

    .buttonp:hover {
        background: #2196F3;
        color: white;
    }

    .projects {
        display: flex;
        width: 1170px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 50px;
    }

    .project {
        width: 370px;
        height: 404px;
        border: 1px solid #EEEEEE;
    }

    .prjctbg {
        width: 370px;
        height: 294px;
        display: flex;
        font-family: 'Roboto';
        font-size: 18px;
        letter-spacing: 0.03em;
        color: transparent;
        transition: box-shadow .3s cubic-bezier(0.23, 1, 0.320, 1)
    }

    .prjctbg span {
        margin: 64px 24px;
    }

    .project:hover .prjctbg {
        box-shadow: 2000px 0 inset rgba(33, 150, 243, 0.9);
        color: white;
    }

    .project:hover {
        box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
    }

    .prjctbg1 {
        background-image: url(./images/ererererrre.jpg);
    }

    .prjctbg2 {
        background-image: url(./images/img\ \(1\).jpg);
    }

    .prjctbg3 {
        background-image: url(./images/img\ \(2\).jpg);
    }
    
    .prjctbg4 {
        background-image: url(./images/img\ \(3\).jpg);
    }
    
    .prjctbg5 {
        background-image: url(./images/img\ \(7\).jpg);
    }
    
    .prjctbg6 {
        background-image: url(./images/img\ \(8\).jpg);
    }
    
    .prjctbg7 {
        background-image: url(./images/img\ \(9\).jpg);
    }
    
    .prjctbg8 {
        background-image: url(./images/img\ \(10\).jpg);
    }
    
    .prjctbg9 {
        background-image: url(./images/img\ \(11\).jpg);
    }

    .bolder {
        margin: 0;
        margin-top: 26px;
        margin-left: 24px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        color: #212121;
    }

    .thinner {
        margin: 0;
        margin-top: 10px;
        margin-left: 24px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        color: #757575;
    }


    /* footer */
    
    footer {
        width: 100vw;
        height: 252px;
        background: #2F303A;
        display: flex;
    }

    .flex-item1 {
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .one1 {
        margin-top: 60px;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        color: #2196F3;
    }
    
    .three1 {
        font-weight: 400;
        font-size: 26px;
        color: white;
    }
    
    .fta {
        margin: 0;
        margin-top: 20px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;    
        color: #FFFFFF;
    }
    
    .fte {
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
        margin: 0;
        margin-top: 9px;
    }
    
    .ftt {
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
        margin: 0;
        margin-top: 9px;
    }

    .fts {
        display: none;
    }
}

@media screen and (max-width:768px) {
    
    a {
        text-decoration: none;
    }
    
    /* Header */
    
    header {
        width: 100%;
        height: 80px;
    }
    
    .one {
        position: absolute;
        left: 15px;
        top: 30.48px;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        color: black;
    }
    
    header nav {
        position: absolute;
        width: 289.93px;
        height: 45.5px;
        left: 236px;
        top: 34.5px;
        display: flex;
        flex-direction: row;
    }
    
    header nav a {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        color: #212121;
    }
    
    .four {
        width: 33%;
        height: inherit;
        text-align: center;
    }
        
    .five {
        width: 33%;
        height: inherit;
        text-align: center;
    }
        
    .six {
        width: 33%;
        height: inherit;
        text-align: center;
    }
        
    .four:hover {
        color: #2196F3;
    }
        
    .five:hover {
        color: #2196F3;
    }
        
    .six:hover {
        color: #2196F3;
    }
    
    .email {
        position: absolute;
        width: 136.44px;
        height: 11.78px;
        left: 615px;
        top: 22.88px;
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;   
    }

    .icon-email {
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 8px;
    }
    
    .email:hover {
        color: #2196F3;
    }
    
    .tel {
        position: absolute;
        left: 615px;
        top: 45px;
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
    }

    .icon-smartphone {
        font-size: 16px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 8px;
    }
    
    .tel:hover {
        color: #2196F3;
    }

    




















    
    /* footer */
    
    footer {
        position: absolute;
        width: 768px;
        height: 463px;
        left: 0px;
        top: 2444px;
        background: #2F303A;
        background: #2F303A;
        display: flex;
        flex-direction: row;
    }
    
    .one1 {
        margin: 64.48px 0 0 125px;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        color: black;
    }
    
    .ftc {
        width: 204.94px;
        height: 68.23px;
        margin: 32.67px 0 0 89.73px;
    }
    
    .fta {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;    
        color: #FFFFFF;
        text-align: center;
    }
    
    .fte {
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
        margin: 0;
        margin-top: 9px;
        text-align: center;
    }
    
    .ftt {
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
        margin: 0;
        margin-top: 9px;
        text-align: center;
    }
    
    .fts {
        margin: 65.44px 0 0 178.33px;
        width: 206px;
        height: 79.56px;
    }
    
    .fts h4 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
        margin: 0;
        text-align: center;
    }
    
    .sociallinks1 {
        width: 206px;
        height: 44px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }  
}