body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Header */

header {
    width: 100%;
    height: 80px;
}

.one {
    position: absolute;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: #2196F3;
}
    
.two {
    font-weight: 700;
    font-size: 26px;
    color: #2196F3;
}
    
.three {
    font-weight: 400;
    font-size: 26px;
    color: #000000;
}

header nav {
    position: absolute;
    width: 290px;
    height: 16px;
    display: flex;
    align-items: stretch;
    left: 453px;
    top: 32px;
}

header nav a {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}

.four {
    width: 33%;
    height: inherit;
}
    
.five {
    width: 33%;
    height: inherit;
}
    
.six {
    width: 33%;
    height: inherit;
}
    
.four:hover {
    color: #2196F3;
}
    
.five:hover {
    color: #2196F3;
}
    
.six:hover {
    color: #2196F3;
}

.email {
    width: 161px;
    height: 16px;
    left: 1052px;
    top: 32px;
    position: absolute;
    font-family: 'Roboto';    
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;   
}

.icon-email {
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 8px;
}

.email:hover {
    color: #2196F3;
}

.tel {
    position: absolute;
    width: 142px;
    height: 16px;
    left: 1243px;
    top: 32px;
    font-family: 'Roboto';    
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;   
}

.icon-smartphone {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 8px;
}

.tel:hover {
    color: #2196F3;
}

/* Main */


/* hero */

.hero {
    width: 100%;
    height: 600px;
    background-image: url(./images/background.jpg);
    background-color: rgba(47, 48, 58, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.hero h1 {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    color: white;
}

.button {
    width: 200px;
    height: 50px;
    background: #2196F3;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.button span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: white;
}


/* differents */

.differents {
    position: absolute;
    width: 1170px;
    height: 251px;
    left: 215px;
    top: 774px;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 270px;
    height: 251px;
}

.item .h6 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 0;
    
}

.item p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
    margin-top: 10px;
}

.icon-antenna {
    font-size: 70px;
}

.icon-clock {
    font-size: 70px;
} 

.icon-diagram {
    font-size: 70px;
}

.icon-astronaut {
    font-size: 70px;
} 

.svgbg {
    width: inherit;
    height: 50%;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* whatwedo */

.whatwedo {
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 1119px;
}

.whatwedo h4 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #212121;
    margin: 0;
}

.whatwedo div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 50px;
}


/* ourteam */

.ourteam {
    position: absolute;
    width: 100%;
    height: 708px;
    left: 0px;
    top: 1599px;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ourteam h4 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    color: #212121;
    margin: 0;
}

.team {
    width: 1170px;
    height: 428px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.members {
    width: 270px;
    height: 428px;
    background-color: white;
}

.first {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    text-align: center; 
    color: #212121;
    margin: 30px 0 0 0;
}

.secondary {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #757575;
    margin: 10px 0 0 0;
}

.icon-instagram {
    font-size: 20px;
}

.icon-twitter {
    font-size: 20px;
} 

.icon-facebook {
    font-size: 20px;
}

.icon-linkedin {
    font-size: 20px;
} 

.sociallinks {
    width: 206px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    margin: 0 135px 0 0;
}

.elipse {
    width: 44px;
    height: 44px;
}