body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;   
}


@media screen and (min-width: 769px) {
   
    /* Header */

    header {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 1170px;
        height: 80px;
        align-items: center;
    }
    
    .one {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        color: #2196F3;
        letter-spacing: 0.03em;
    }
    
    .three {
        font-weight: 400;
        font-size: 26px;
        color: black;
    }
    
    nav {
        width: 290px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 93px;
    }
    
    nav a {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        color: #212121;
        text-align: center;
        letter-spacing: 0.02em;
    }

    .navtext:hover {
        color: #2196F3;
    }

    .email, .tel {
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        color: #757575;
    }

    .email {
        margin-left: 309px; 
    }
    
    .tel {
        margin-left: 34px;
    }

    .icon-email {
        font-size: 12px;
    }
    
    .icon-smartphone {
        font-size: 16px;
    }
    
    .icon-email, .icon-smartphone {
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 10px;
    }
    
    .email:hover, .tel:hover {
        color: #2196F3;
    }

    .icon-hover {
        display: none;
    }


    /* modal window */

    .modalwindow {
        position: fixed;
        display: none;
        flex-direction: column;
        left: calc(50vw - 264px);
        top: calc(50vh - 290.5px);
        width: 528px;
        height: 581px;
        background-color: white;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    .modalwindow:target {
        display: flex;
    }

    .icon-close {
        font-size: 30px;
        margin: 8px 8px 0 auto;
        color: transparent;
        outline: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }

    .icon-close .path3 {
        color: #000;
        transition: color .5s;
    }

    .icon-close .path3:hover {
        color: #2196F3;
    }

    .modaltitle {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin: 0;
        margin-top: 2px;
    }

    .inputs {
        margin-top: 12px;
        margin-left: auto;
        margin-right: auto;
        width: 448px;
        /* height: 342px; */
        display: flex;
        flex-direction: column;
    }

    .input0 {
        width: calc(448px - 42px);
        height: 40px;
        outline: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        border: none;
        padding-left: 42px;
    }
    
    .input0:hover, .input1:hover {
        outline: 1px solid #2196F3;
    }

    .input:hover .icon-Vector-2, .input:hover .icon-Vector-3 , .input:hover .icon-Vector-4 {
        color: #2196F3;
    }

    .modaltxt {
        margin: 0;
        margin-top: 10px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 12px;
        color: #757575;
    }

    .modaltxt:first-child {
        margin-top: 0;
    }

    .input {
        position: relative;
        width: calc(448px - 42px);
        height: 40px;
        display: flex;
        align-items: center;
        margin-top: 4px;
    }

    .input0, .icon-Vector-2, .icon-Vector-3, .icon-Vector-4 {
        position: absolute;
    }

    .icon-Vector-2 {
        margin-left: 15px;
        font-size: 12px;
    }

    .icon-Vector-3 {
        margin-left: 14.27px;
        color: #000;
        font-size: 13px;
    }

    .icon-Vector-4 {
        margin-left: 13.5px;
        font-size: 12px;
        color: #000;
    }

    .input1 {
        width: calc(448px - 18px);
        height: 2px;
        outline: 1px solid rgba(33, 33, 33, 0.2);
        border: none;
        border-radius: 4px;
        margin-top: 4px;
        padding: 19px 0 calc(118px - 19px) 16px;
    }

    textarea::-webkit-input-placeholder {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    .modaltxt1 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .chekbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        margin-left: 52px;
    }

    .input2 {
        width: 16px;
        height: 15px;
        margin: 0;
    }

    .inpttxt {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #757575;
        margin: 0;
        margin-left: 8.38px;
    }

    .u {
        color: #2196F3;
        border-bottom: 1px solid #2196F3;
    }

    .sendbtn {
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        margin-top: 30px;
        margin-left: 165px;
    }

    .sendbtn:hover {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    .button {
        width: 200px;
        height: 50px;
        background: #2196F3;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
    
    .button span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.06em;
        color: white;
    }
    

    /* hero */
    
    .hero {
        width: 100vw;
        height: 600px;
        background-image: url(./images/background.jpg);
        background-color: rgba(47, 48, 58, 0.4);
        background-size: cover;
        background-blend-mode: overlay;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    
    .hero h1 {
        text-align: center;
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 44px;
        letter-spacing: 0.06em;
        color: white;
    }


    /* differents */
    
    .differents {
        width: 1170px;
        height: 251px;
        margin-top: 94px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .item {
        width: 270px;
        height: 251px;
    }
    
    .item .h6 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        color: #212121;
        margin-top: 30px;
        margin-bottom: 0;
        
    }
    
    .item p {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #757575;
        margin-top: 10px;
    }
    
    .icon-antenna, .icon-clock, .icon-diagram, .icon-astronaut {
        font-size: 70px;
    }
    
    .svgbg {
        width: inherit;
        height: 50%;
        background-color: #F5F4FA;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* whatwedo */
    
    .whatwedo {
        width: 1170px;
        height: 386px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 94px;
    }
    
    .whatwedo h4 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        color: #212121;
        margin: 0;
    }
    
    .whatwedo div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        margin-top: 50px;
    }

    .photo {
        width: 370px;
        height: 294px;
        display: flex;
        align-items: flex-end;
    }

    .photo1 {
        background-image: url(./images/img.jpg);
    }
    
    .photo2 {
        background-image: url(./images/img1.jpg);
    }
    
    .photo3 {
        background-image: url(./images/img2.jpg);
    }

    .inphoto {
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
    }

    .inphoto span {
        margin: auto;
    }

    
    /* ourteam */
    
    .ourteam {
        width: 100vw;
        height: 708px;
        background-color: #F5F4FA;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 94px;
    }
    
    .ourteam h4 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        color: #212121;
        margin: 0;
        margin-top: 94px;
    }
    
    .team {
        width: 1170px;
        height: 428px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .members {
        width: 270px;
        height: 428px;
        background-color: white;
    }
    
    .first {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        text-align: center; 
        color: #212121;
        margin: 30px 0 0 0;
    }
    
    .secondary {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #757575;
        margin: 10px 0 0 0;
    }
    
    .sociallinks {
        width: 206px;
        height: 44px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 16px;
    }
    
    .icon-instagram, .icon-twitter, .icon-facebook, .icon-linkedin {
        font-size: 20px;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #afb1b8;
    }
    
    .icon-instagram:hover, .icon-twitter:hover, .icon-facebook:hover, .icon-linkedin:hover {
        color: white;
        background-color: #2196F3;
    }
    
    
    /* clients */
    
    .clients {
        width: 1170px;
        height: 182px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 94px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .clients h4 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        color: #212121;
        margin: 0;
        text-align: center;
    }
    
    .icon-Client {
        color: #afb1b8;
        font-size: 90px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        margin-right: 30px;
    }

    .icon-Client-1:hover, .icon-Client-2:hover, .icon-Client-3:hover, .icon-Client-4:hover, .icon-Client-5:hover, .icon-Client-6:hover {
        color: #2196F3;
        border: 1px solid #2196F3;
    }

    .clients div {
        margin-top: 50px;
        width: inherit;
        height: 92px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    
    /* footer */
    
    footer {
        width: 100vw;
        height: 252px;
        background: #2F303A;
        margin-top: 94px;
    }

    .footer {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 1170px;
        height: 252px;
    }

    .one1 {
        margin-top: 60px;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        color: #2196F3;
    }
    
    .three1 {
        font-weight: 400;
        font-size: 26px;
        color: white;
    }
    
    .fta {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;    
        color: white;
        margin: 0;
        margin-top: 20px;
    }
    
    .ftt {
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
        margin: 0;
        margin-top: 9px;
    }
    
    .fts {
        width: 206px;
        height: 80px;
        margin-left: 70px;
        margin-top: 72px;
    }
    
    .fts h4 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
        margin: 0;
        text-align: center;
    }
    
    .sociallinks1 {
        width: 206px;
        height: 44px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .sociallinks1 .icon-instagram, .sociallinks1 .icon-linkedin, .sociallinks1 .icon-twitter, .sociallinks1 .icon-facebook {
        color: white;
    }
}

/* @media screen and (max-width:768px) {
    
    a {
        text-decoration: none;
    }
    
    Header
    
    header {
        width: 100%;
        height: 80px;
    }
    
    .one {
        position: absolute;
        left: 15px;
        top: 30.48px;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        color: black;
    }
    
    header nav {
        position: absolute;
        width: 289.93px;
        height: 45.5px;
        left: 236px;
        top: 34.5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    header nav a {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        color: #212121;
    }

    .four {

    }

    header nav .p {

    }

    .icon-hover {
        font-size: 4px;
        margin-top: 0;
        margin-left: 0;
    }
        
    .five {
    }
        
    .six {
    }
        
    .four:hover {
        color: #2196F3;
    }
        
    .five:hover {
        color: #2196F3;
    }
        
    .six:hover {
        color: #2196F3;
    }
    
    .email {
        position: absolute;
        width: 136.44px;
        height: 11.78px;
        left: 615px;
        top: 22.88px;
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;   
    }
    
    .icon-email {
        font-size: 11px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 8px;
    }
    
    .email:hover {
        color: #2196F3;
    }
    
    .tel {
        position: absolute;
        left: 615px;
        top: 45px;
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
    }
    
    .icon-smartphone {
        font-size: 15px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 8px;
    }
    
    .tel:hover {
        color: #2196F3;
    }
    
    Main
    
    
    hero
    
    .hero {
        position: absolute;
        width: 768px;
        height: 400px;
        left: 0px;
        top: 80px;
        background-image: url(./images/bgt.jpg);
        background-color: rgba(47, 48, 58, 0.4);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    
    .hero h1 {
        text-align: center;
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 23px;
        color: white;
        width: 307.9px;
        height: 32px;
        margin: 0;
    }
    
    .button {
        width: 200px;
        height: 50px;
        background: #2196F3;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        margin-top: 37.5px;
    }
    
    .button span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.06em;
        color: white;
    }
    
    
    differents
    
    .item {
        width: 354px;
        height: 243.92px;
    }

    .item1 {
        position: absolute;
        left: 15px;
        top: 540px;
    }

    .item2 {
        position: absolute;
        left: 399px;
        top: 540px;
    }

    .item3 {
        position: absolute;
        left: 15px;
        top: 821px;
    }

    .item4 {
        position: absolute;
        left: 399px;
        top: 821px;
    }
    
    .item .h6 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        color: #212121;
        margin-top: 30px;
        margin-bottom: 0;
        
    }
    
    .item p {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #757575;
        margin-top: 10px;
    }
    
    .icon-antenna {
        font-size: 70px;
    }
    
    .icon-clock {
        font-size: 70px;
    } 
    
    .icon-diagram {
        font-size: 70px;
    }
    
    .icon-astronaut {
        font-size: 70px;
    } 
    
    .svgbg {
        width: inherit;
        height: 50%;
        background-color: #F5F4FA;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    whatwedo
    
    .whatwedo {
        display: none;
    }
    

    ourteam

    .team {
        position: absolute;
        width: 768px;
        height: 1285px;
        left: 0px;
        top: 1107px;
        background: #F5F4FA;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .ourteam img {
        width: 354px;
        height: 374px;
    }

    .ourteam h4 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        color: #212121;
        margin: 0;
        position: absolute;
        left: 283.84px;
        top: 1141.09px;
        z-index: 3;
        
    }
    
    .members {
        width: 354px;
        height: 536px;
        background-color: white;
        box-shadow: 0 0 9px 3px #757575;
    }

    .m1 {
        order: 1;
        margin-top: 123px;
        margin-left: 15px;
    }
    
    .m2 {
        order: 3;
        margin-top: 123px;
    }
    
    .m3 {
        order: 2;
        margin-top: 30px;
        margin-left: 15px;
    }
    
    .m4 {
        order: 4;
        margin-top: 30px;
    }
    
    .first {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        text-align: center; 
        color: #212121;
        margin: 30px 0 0 0;
    }
    
    .secondary {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #757575;
        margin: 10px 0 0 0;
    }
    
    .sociallinks {
        width: 206px;
        height: 44px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 16px;
    }
    
    .icon-instagram, .icon-twitter, .icon-facebook, .icon-linkedin {
        font-size: 20px;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #afb1b8;
    }
    
    .icon-instagram:hover, .icon-twitter:hover, .icon-facebook:hover, .icon-linkedin:hover {
        color: white;
        background-color: #2196F3;
    }
    
    
    clients
    
    .clients {
        position: absolute;
        width: 738px;
        height: 267.74px;
        left: 15px;
        top: 2457.26px;
    }
    
    .clients h4 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        color: #212121;
        text-align: center;
        margin: 0;
    }
    
    .icon-Client {
        color: #afb1b8;
        font-size: 90px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        width: 226px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .clients div {
        margin-top: 36.73px;
        width: 738px;
        height: 210px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 26px;
    }
    
    .icon-Client-1:hover, .icon-Client-2:hover, .icon-Client-3:hover, .icon-Client-4:hover, .icon-Client-5:hover, .icon-Client-6:hover {
        color: #2196F3;
        border: 1px solid #2196F3;
    }
    
    
    footer
    
    footer {
        position: absolute;
        width: 768px;
        height: 463px;
        left: 0px;
        top: 2785px;
        background: #2F303A;
        display: flex;
        flex-direction: row;
    }
    
    .one1 {
        margin: 64.48px 0 0 125px;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        color: black;
    }
    
    .ftc {
        width: 204.94px;
        height: 68.23px;
        margin: 32.67px 0 0 89.73px;
    }
    
    .fta {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;    
        color: #FFFFFF;
        text-align: center;
    }
    
    .fte {
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
        margin: 0;
        margin-top: 9px;
        text-align: center;
    }
    
    .ftt {
        font-family: 'Roboto';    
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
        margin: 0;
        margin-top: 9px;
        text-align: center;
    }
    
    .fts {
        margin: 65.44px 0 0 178.33px;
        width: 206px;
        height: 79.56px;
    }
    
    .fts h4 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
        margin: 0;
        text-align: center;
    }
    
    .sociallinks1 {
        width: 206px;
        height: 44px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }  
} */